<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>まとめ画像ダウンローダー</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <h1>まとめ画像ダウンローダー</h1>
          <p>NAVERまとめ等のURLを入れると、画像を取得し、zipファイルでダウンロードします。</p>
          <p>サムネイルではなく元のサイズで取得できる。gifも取得できる。</p>
        </div>
          <%= yield %>
        </div>
  </body>
</html>